:root {
  --button-color: magenta;
}

html,
body,
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  background-color: var(--button-color);
  border: 5px solid hsl(var(--button-color), calc(30%));
  color: white;
  margin: 0 0.5em;
  padding: 1em;
  outline: none;
}
button:hover {
  background-color: red;
}
button:active {
  background-color: green;
}

.Counter {
  border: 5px solid var(--button-color);
  font-weight: 700;
  margin: 2em auto;
  padding: 2em;
  width: 400px;
}

.count {
  font-size: 8em;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
}
